---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import Card from "../ui/card.astro";

// Technically, this whole spiel can be replaced with a nice dynamic import.
// However, this *massively* increases build times because Vite isn't smart enough to
// know that only the icons that are used in the content files are actually imported,
// so it has to import them all. This is *slow!*
import AstroIcon from "@skyfall-powered/simple-icons-astro/Astro";
import SvelteIcon from "@skyfall-powered/simple-icons-astro/Svelte";
import TsIcon from "@skyfall-powered/simple-icons-astro/Typescript";
import TwIcon from "@skyfall-powered/simple-icons-astro/Tailwindcss";
import RustIcon from "@skyfall-powered/simple-icons-astro/Rust";
import SlackIcon from "@skyfall-powered/simple-icons-astro/Slack";
import PlaywrightIcon from "@skyfall-powered/simple-icons-astro/Playwright";

const { project } = Astro.props as { project: CollectionEntry<"projects"> };
const image = project.data.smallTileImage || project.data.mainImage;

const icons = project.data.tools.map((tool) => {
  switch (tool) {
    case "Astro":
      return AstroIcon;
    case "Svelte":
      return SvelteIcon;
    case "Typescript":
      return TsIcon;
    case "Tailwindcss":
      return TwIcon;
    case "Rust":
      return RustIcon;
    case "Slack":
      return SlackIcon;
    case "Playwright":
      return PlaywrightIcon;
    default:
      throw new Error(`Unknown tool: ${tool}`);
  }
});
---

<li class="flex">
  <Card>
    <!-- FIXME: Add link -->
    <a class="group block leading-tight">
      <div class="relative aspect-video overflow-hidden rounded-lg mb-4">
        <Image
          src={image}
          loading="eager"
          alt={project.data.title}
          class="object-cover w-full h-full duration-300 group-hover:scale-105"
        />
      </div>
      <div class="space-y-3.5">
        <div>
          <h3 class="text-xl font-semibold tracking-tight">
            {project.data.title}
          </h3>
          <p>{project.data.tagline}</p>
        </div>
        <div
          class="flex gap-1 *:fill-current *:w-8 hover:*:fill-lavender *:transition *:cursor-pointer"
        >
          {icons.map((Icon) => Icon && <Icon size={24} />)}
        </div>
      </div>
    </a>
  </Card>
</li>
