---
import type { CollectionEntry } from "astro:content";
import "remark-github-blockquote-alert/alert.css";

import Footer from "@components/blog/footer.astro"
import Card from "@components/ui/card.astro";
import FormattedDate from "@components/ui/formatted-date.astro";
import Layout from "./layout.astro";

type Props = CollectionEntry<"blog">["data"] & {
  ogImage: string;
};
const { title, description, pubDate, ogImage, draft } = Astro.props;
---

<Layout title={title} description={description} ogImage={ogImage}>
  <div class="mt-10 w-full">
    <div class="text-center">
      <!-- Title, date and description -->
      <div class="not-prose w-full space-y-6">
        <div class="space-y-2">
          <h1 class="text-5xl w-full font-extrabold text-text tracking-tight">
            {title}
          </h1>
          <p class="text-lg text-text/80 leading-relaxed">{description}</p>
        </div>
        <div class="text-surface2 font-medium">
          <FormattedDate date={pubDate} />
        </div>
        {
          draft && (
            <div class="mt-4 text-left max-w-full">
              <Card border="border-yellow-500" bg="bg-base">
                <h2 class="text-xl font-bold">This is a draft post</h2>
                <p class="text-sm">
                  It may have typos, unfinished sections, or inaccuracies.
                  Please don't share it until it's been published!
                </p>
              </Card>
            </div>
          )
        }
      </div>
    </div>

    <hr class="h-px my-8 bg-surface0 border-0" />

    <div class="prose w-full max-w-full">
      <slot />
    </div>
  </div>
  <Footer/>
</Layout>

<style is:global>
  .prose
    :where(p.markdown-alert-title):not(
      :where([class~="not-prose"], [class~="not-prose"] *)
    ) {
    margin-top: 0 !important;
    margin-bottom: 0.5em !important;
  }

  .prose .markdown-alert p:last-child {
    margin: 0!important;
  }

  /* .prose
    :where(.markdown-alert p:last-child):not(
      :where([class~="not-prose"], [class~="not-prose"] *)
    ) {
    margin-top: 0 !important;
  } */
</style>
