---
import type { CollectionEntry } from "astro:content";

import Layout from "./layout.astro";
import FormattedDate from "../components/ui/formatted-date.astro";
import Card from "../components/ui/card.astro";

type Props = CollectionEntry<"blog">["data"] & {
  ogImage: string;
};
const { title, description, pubDate, ogImage, draft } = Astro.props;
---

<Layout title={title} description={description} ogImage={ogImage}>
  <div class="mt-10 w-full">
    <div class="text-center">
      <!-- Title, date and description -->
      <div class="not-prose w-full">
        <h1 class="text-4xl w-full font-black text-text mb-1">
          {title}
        </h1>
        <p class="text-lg italic mb-3">{description}</p>
        <div>
          <FormattedDate date={pubDate} />
        </div>
        {
          draft && (
            <div class="mt-4 text-left max-w-full">
              <Card border="border-yellow-500" bg="bg-base">
                <h2 class="text-xl font-bold">This is a draft post</h2>
                <p class="text-sm">
                  It may have typos, unfinished sections, or inaccuracies.
                  Please don't share it until it's been published!
                </p>
              </Card>
            </div>
          )
        }
      </div>
    </div>

    <hr class="h-px my-8 bg-surface0 border-0" />

    <div class="prose w-full max-w-full">
      <slot />
    </div>
  </div>
</Layout>
