---
import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";

import Header from "../components/layout/header.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} • {SITE_TITLE}</title>
    <meta property="og:site_name" content={SITE_TITLE} />
    <meta property="description" content={description} />
    <meta property="og:title" content=`${title} • ${SITE_TITLE}` />
    <meta property="twitter:description" content={description} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <ViewTransitions transition:animate={fade({ duration: "0.2s" })} />
  </head>
  <body
    class="bg-base text-text min-h-screen bg-background font-sans antialiased max-w-2xl mx-auto py-6 sm:py-12 px-6"
  >
    <Header />
    <main><slot /></main>
  </body>
</html>
