---
import { UMAMI_SCRIPT, UMAMI_WEBSITE_ID } from "astro:env/client";
import { ClientRouter } from "astro:transitions";
import { fade } from "astro:transitions";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/constants";

import "@fontsource-variable/inter";
import "@fontsource/fira-code";

import Footer from "@components/layout/footer.astro";
import Header from "@components/layout/header.astro";
interface Props {
  title: string;
  description?: string;
  ogImage?: string;
}

const { title, description = SITE_DESCRIPTION, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} - {SITE_TITLE}</title>
    <meta name="description" content={description} />

    <meta property="og:site_name" content={SITE_TITLE} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {ogImage && <meta property="og:image" content={ogImage} />}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />

    <meta name="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta
      property="twitter:card"
      content={ogImage ? "summary_large_image" : "summary"}
    />
    {ogImage && <meta property="twitter:image" content={ogImage} />}

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={SITE_TITLE}
      href={new URL("rss.xml", Astro.site)}
    />

    {
      UMAMI_SCRIPT && UMAMI_WEBSITE_ID && (
        <script
          is:inline
          defer
          src={UMAMI_SCRIPT}
          data-website-id={UMAMI_WEBSITE_ID}
        />
      )
    }

    <ClientRouter transition:animate={fade({ duration: "0.2s" })} />
  </head>
  <body
    class="bg-base text-text min-h-screen bg-background font-sans antialiased md:max-w-2xl lg:max-w-[45rem] mx-auto py-6 sm:py-12 px-6"
  >
    <Header />
    <main><slot /></main>
    <Footer />

    {UMAMI_SCRIPT && UMAMI_WEBSITE_ID && (
      <script>
        (() => {
          const name = 'outbound-link-click';
          document.querySelectorAll('a').forEach(a => {
            if (a.host !== window.location.host && !a.getAttribute('data-umami-event')) {
              a.setAttribute('data-umami-event', name);
              a.setAttribute('data-umami-event-url', a.href);
            }
          });
        })();
      </script>
    )}  
  </body>
</html>
